/*  your css code here. If applicable */
.square {
    height: 20px;
    width: 20px;
    background: rgb(29, 29, 29);
}

* {
    background-color: #1a032f;
    padding: 0;
    margin: 0;
}
.container {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}